<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Services">
    <test name="UserService">
        <classes>
            <class name="test.com.ltp.web.service.impl.UserServiceImplTest"></class>
        </classes>
    </test>
    <test name="PeopleService">
        <classes>
            <class name="test.com.ltp.web.service.impl.PeopleServiceImplTest"></class>
        </classes>
    </test>
</suite>